// General - Start
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap');
//Variables - Start
$white: #fff;
$black: #1B1D1F;
$orange: #FF6B0A;
$blue: #005BBB;

//Variables - End
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $black;
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.form-input {
    display: block;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    transition: border-bottom 0.2s ease-in-out;
    width: 100%;
}

.form-input:focus {
    outline: none;
    border-bottom: 2px solid #1e90ff;
}


.btn {
    border: none;
    background: transparent;

    &:hover {
        cursor: pointer;
    }

    &-main {
        color: $white;
        padding: 9px 12px;
        background: $orange;
        border-radius: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}

ul {
    list-style: none;
}

p {
    font-size: 16px;
}

.tryzub {
    display: block;
    margin: 32px auto;
}

// General - End 
// Main - Start
.about {
    background: linear-gradient(269.88deg, #A5DEFF 0.11%, #FCFEFE 99.9%);

    .logo {
        margin-top: 32px;
    }

    &__wrap {
        display: flex;
        flex-direction: row;
    }

    &-description {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 60px;
        margin-top: 0;
    }

    &-title {
        font-weight: 600;
        font-size: 64px;
        line-height: 72px;
        margin: 0;
    }

    &-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-top: 0;
        margin-bottom: 32px;
    }

    &-card {
        margin-top: 60px;
        max-width: 100%;
        background: $white;
        border-radius: 40px;
        padding: 60px;
    }
}

// Main - End
//Facts - Start
.facts {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 100px;

    &-title {
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
    }

    &-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        max-width: 772px;
        margin: 32px auto;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    &__item {
        max-width: 30%;

        & img {
            max-width: 100%;
        }

        &-title {
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;
            margin-top: 8px;
            margin-bottom: 32px;
        }

        &-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    }
}

//Facts - End
//Contacts - Start
.contacts {
    padding-block: 80px;
    background: linear-gradient(269.88deg, #A5DEFF 0.11%, #FCFEFE 99.9%);

    .tryzub {
        margin-top: 0;
    }

    &__form {
        padding: 32px 60px 64px;
        background: $white;
        border-radius: 40px;
        max-width: 54%;
        margin: 0 auto;

        &-hint {
            text-align: center;
            margin-bottom: 24px;

            & h3 {
                font-weight: 600;
                font-size: 24px;
                line-height: 24px;
                margin-bottom: 8px;
            }

            & p {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                margin: 0;

            }
        }

        &-label {
            display: block;
            margin-bottom: 8px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }

        &-name {
            margin-bottom: 24px;
        }

        &-email {
            margin-bottom: 48px;
        }
    }
}

//Contacts - End
//Gus Animation - Start
.gus-anim {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}

//Gus Animation - End
//Media Queries

@media screen and (max-width: 799px) {
    .about {
        &-left {
            max-width: 70%;
        }
    }

    .facts {
        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__item {
            max-width: 70%;
        }
    }

    .contacts {
        &__form {
            max-width: 100%;
            padding: 35px;
        }
    }
}